MLFLOW_TRACKING_URI=http://mlflow:5000 
EXPERIMENT_NAME=Vector_Prediction_Viz
PRODUCTION_TAG_KEY=model_stage
PRODUCTION_TAG_VALUE=production
HF_REPO_ID_PARAM_NAME=huggingface_repo_id
PLOT_FILENAME=prediction_vectors.png
DEBUG_PATH=./testcase